<% content_for :title, "Your profile" %>

<%= native_form_tag %>
<%= native_navbar_tag("Your profile") do |navbar| %>
  <% navbar.submit_button title: "Save", click: "#profile-submit" %>
<% end %>

<header class="screen-head with-back native:hidden">
  <%= link_to settings_path, class: "back-link" do %>‹ Settings<% end %>
  <h1 class="screen-title">Your profile</h1>
</header>

<div class="card">
  <%= form_with model: @user, url: profile_path, method: :patch, class: "form" do |form| %>
    <% if @user.errors.any? %>
      <div class="form-errors"><%= @user.errors.full_messages.to_sentence.capitalize %>.</div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= form.label :email_address, "Email" %>
      <%= form.email_field :email_address, autocomplete: "username" %>
    </div>

    <hr class="form-divider">

    <div class="field">
      <%= form.label :password, "New password" %>
      <%= form.password_field :password, autocomplete: "new-password", placeholder: "Leave blank to keep current",
            minlength: 6, maxlength: 72 %>
    </div>

    <%= form.submit "Save", id: "profile-submit", class: "btn btn-primary btn-block native:hidden" %>
  <% end %>
</div>
