<% content_for :title, "Edit expense" %>

<%= native_form_tag %>
<%= native_navbar_tag("Edit expense") do |navbar| %>
  <% navbar.submit_button title: "Save", click: "#expense-submit" %>
<% end %>

<header class="screen-head with-back native:hidden">
  <%= link_to root_path, class: "back-link" do %>‹ Back<% end %>
  <h1 class="screen-title">Edit expense</h1>
</header>

<div class="card">
  <%= render "form" %>
</div>

<%= button_to "Delete expense", expense_path(@expense), method: :delete,
      class: "btn btn-danger btn-block", form: { class: "danger-form" },
      data: { turbo_confirm: "Delete this expense?", **native_haptic_data(:warning) } %>
